@media screen and (min-width: 1400px) {
  body {
    width: 1240px;
    margin: auto;
  }
}

@media screen and (max-width: 992px) {
  .header {
    background-position: bottom left, bottom, center;
  }

  .banner {
    margin: 0 0 0 0px;
    flex-direction: column;
  }

  .banner-left {
    width: 60%;
    text-align: center;
  }

  .banner-description {
    width: 80%;
    margin: 10px auto;
  }

  .banner-right {
    width: 50%;
    justify-content: center;
  }
}
