* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

body {
  width: 100%;
}

.text-primary {
  color: #fd6e0a;
}

.btn-primary {
  background-color: #fd6e0a;
  font-size: 16px;
  border-radius: 5px;
  padding: 8px 12px;
  border: none;
  color: white;
  font-weight: 700;
}

.btn-primary i {
  margin-right: 3px;
}

.btn-secondary i {
  margin-right: 2px;
}

.btn-secondary {
  background-color: white;
  color: #fd6e0a;
  font-size: 16px;
  border-radius: 5px;
  padding: 8px 12px;
  border: 1px solid #fd6e0a;
  font-weight: 700;
  margin-left: 5px;
}

.btn-primary:hover {
  background-color: #fd7b1e;
}

.btn-secondary:hover {
  background-color: #fd7b1e;
  color: white;
}

/* header and navigation styles */
header {
  width: 100%;
  background-image: url("../images/developer.png");
  background-color: #fff1e7;
  background-repeat: no-repeat, no-repeat;
  background-position: bottom left 50px;
  background-size: 100px 100%;
  padding: 10px 10px 0 10px;
}
/* 700px 425px */
nav {
  display: flex;
  justify-content: space-between;
  margin: 0px 200px 20px 200px;
}
.nav-title {
  font-weight: 800;
  font-size: 45px;
}

nav ul {
  display: flex;
  align-items: center;
}

nav li {
  list-style: none;
  padding: 12px 28px;
}

nav li a {
  text-decoration: none;
  color: black;
  font-weight: 700;
  font-size: 16px;
}

nav li:hover:nth-child(-n + 2) {
  background-color: #fd7b1e;
  border-radius: 5px;
}

nav li:hover:nth-child(-n + 2) a {
  color: white;
}

/* banner styles */
.banner {
  margin: 0 0 0 200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.banner-left {
  width: 40%;
}

.banner-sub-title {
  font-size: 30px;
  font-weight: 600;
}

.banner-title {
  font-size: 50px;
  font-weight: bold;
}

.banner-description {
  color: #757575;
  font-size: 14px;
  line-height: 1.3rem;
  margin: 20px 0;
  width: 80%;
}

.banner-right {
  width: 60%;
  display: flex;
  justify-content: flex-end;
  background-image: url("../images/header_bg.png");
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: 100% 400px;
}

.banner-image {
  width: 480px;
  height: 550px;
  /* left: 100px; */
  right: 0;
  bottom: 0;
}

/* main styles */
main {
  margin-top: 100px;
}

.main-title {
  text-align: center;
  margin-bottom: 20px;
  font-weight: bold;
}

.main-about-me {
  width: 60%;
  margin: auto;
  padding: 20px;
  border-radius: 5px;
}

.main-description {
  color: #757575;
  font-size: 14px;
  line-height: 1.5rem;
  text-align: center;
  width: 80%;
  margin: auto;
}

.main-about-items {
  width: 100%;
  margin-top: 20px;
}

.main-about-items ul {
  display: flex;
  justify-content: space-evenly;
}

.main-about-items li {
  font-size: 14px;
  margin-right: 10px;
  list-style: none;
  text-align: center;
}

.main-about-items ul li p {
  color: #757575;
  margin-bottom: 5px;
}

.main-what-do {
  margin-top: 100px;
}

.what-i-do-title {
  text-align: center;
  margin-bottom: 20px;
  font-weight: bold;
}

.main-what-i-do {
  text-align: center;
  margin-bottom: 20px;
  font-weight: bold;
  width: 60%;
  margin: auto;
}

.main-what-i-description {
  color: #757575;
  font-size: 14px;
  line-height: 1.5rem;
  text-align: center;
  width: 80%;
  font-weight: 100;
  margin: auto;
}

.skills-section {
  background-color: #faf6f4;
  width: 80%;
  margin: auto;
  margin-top: 20px;
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
  border-radius: 5px;
}

.skills {
  background-color: white;
  width: 25%;
  margin: 0 20px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 2px 2px rgb(212, 206, 206);
}

.skills img {
  display: block;
  margin: auto;
}

.skills h5 {
  text-align: center;
  margin: 20px 0;
}

.skills p {
  font-size: 14px;
  color: #757575;
  font-weight: 100;
  line-height: 1.5rem;
  text-align: center;
}

.skills:hover {
  background-color: #fd7b1e;
}

.skills:hover p {
  color: black;
}

.main-summery {
  width: 70%;
  margin: 100px auto 0 auto;
}

.main-summery-title {
  text-align: center;
}

.main-summery h3,
h4 {
  text-align: left;
  margin-top: 10px;
}

.main-summery h2 {
  color: #302525;
}

.main-summery h3 {
  color: #302525;
}

.main-summery h4 {
  color: #757575;
}

.main-summery p {
  color: #757575;
  margin-top: 10px;
  font-size: 14px;
  line-height: 1.4rem;
}

.summery-group {
  margin-top: 50px;
}

.summery {
  display: flex;
  justify-content: space-evenly;
}

.education {
  padding: 10px;
}

.experience {
  padding: 10px;
}

hr {
  margin: 20px 0;
}

/* footer styles */
footer {
  background-color: #fff1e7;
  width: 100%;
  display: flex;
  margin-top: 100px;
  padding: 20px;
}

.footer-left {
  width: 30%;
  margin: auto 0 auto auto;
  padding: 20px;
}
.footer-left p {
  font-size: 14px;
  font-weight: 100;
  color: #757575;
  margin-top: 10px;
  line-height: 1.3rem;
}

.footer-left i {
  background-color: #fd6e0a;
  font-size: 20px;
  margin-right: 5px;
  margin-top: 10px;
  border-radius: 5px;
  padding: 5px;
  height: 20px;
  width: 20px;
  text-align: center;
  color: white;
}

.footer-left i:hover {
  background-color: #fd7b1e;
  color: white;
}

.footer-right {
  width: 30%;
  margin: auto auto auto 0;
}

.footer-right .input,
textarea {
  margin: 10px 0;
  width: 300px;
  padding: 10px;
  border-radius: 5px;
  border: none;
}

textarea {
  border: none;
}

.footer-right input,
textarea:focus {
  outline-color: #fd6e0a;
}
